:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: radial-gradient(closest-side, rgb(33, 33, 33), rgb(18, 18, 18), black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 0.5;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;

  a .btn {
    border-radius: 25px;
    background: black;
    border: 1px solid white;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.093);
  }
  .big-button {
    margin-top: 2rem;
  }

  a:hover .btn {
    border: 1px solid rgb(119, 42, 206);

  }

  a:first-child .btn {
    background: white;
    color: black;
    border: 1px solid black;
  }

  a:first-child:hover .btn {
    border: 1px solid rgb(169, 17, 169);

  }
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
