@font-face {
    src:"https://fonts.googleapis.com/css2?family=Inter:ital";
    font-family: "Inter", sans-serif;
  font-weight: 500px;
  font-style: normal;
}
h1{
    font-weight: 700px;
}
body{
    background-color:black;
    color: #fefdfd;
    font-family: "Inter", sans-serif;
    margin: auto;
    line-height: 1.8em;
}
p{
    font-size: 1rem;
}

header{
    background-color: #9443b2;
    position: sticky;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}
header h1{
    font-size: 1.5rem;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header li{
    padding-inline: 1rem;

}
a{
    color: #fefdfd;
}
.about-me-section{
    margin:auto;
    padding: 5rem;
}
.about-me-section h1{
    font-size: 3.5rem;
    text-shadow: #fefdfd38 1px 3px;
}
.portfolio-container{
    margin:auto;
    padding: 5rem;
    
}

.portfolio-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.project-info{
    background-color:#9443b2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem; 
    width: 50rem;
    margin-bottom: 2rem;

}

.project-info img {
    height: 20rem;
    padding: 1.5rem;
    object-fit: contain;

}
.img-container{
    display: flex;
    flex-direction: row;
}
footer{
    text-align:center;
    padding: 0.1rem;
    font-size: 0.75rem;
}
footer ul{
    padding: 2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


ul{
    list-style-type: none;
}

@media(max-width: 600px){
    .project-info{
        flex-direction: column;
        max-width: 20rem;
    }
    .img-container{
        flex-direction: column;
    }
    .img-container image{
        width: 5rem;

    }

}